@media (min-width: 30em) {
    .row {
        /* safari needs webkit prefixes :( */
        display: -webkit-flex;
        -webkit-flex-wrap: nowrap;
        display: flex;
        flex-wrap: nowrap;
    }
    .column {
        -webkit-flex-grow: 1;
        flex-grow: 1;
        -webkit-flex-basis: 0;
        flex-basis: 0;
    }
    .two.column {
        -webkit-flex-grow: 2;
        flex-grow: 2;
    }
    .column.center {
        text-align: center;
    }
    .column.right {
        text-align: right;
    }
}

main {
    max-width: 100rem;
}

header h1 {
    border: none;
    float: left;
}

header nav {
    padding-top: 2rem;
    float: right;
}

nav a {
    color: rgb(18, 113, 219);
}

nav .active {
    font-weight: bold;
}

.branch-headings {
    margin-bottom: 1rem;
}

.branch .column, .branch-headings .column {
    padding: 1rem;
}

.branch .branch-status {
    color: white;
    padding: 1rem 0;
}

.branch-status-created {
    background: black;
}

.branch-status-in-progress {
    background: red;
}

.branch-status-in-review {
    background: orange;
}

.branch-status-ready-for-master {
    background: cornflowerblue;
}

.branch-status-merged-to-master {
    background: blue;
}

.branch-status-deployed {
    background: green;
}

.branch-status-deprecated {
    background: silver;
}

.pagination-control {
    margin: 3rem 0;
}

.pagination-control .disabled {
    opacity: 0.66;
    cursor: not-allowed;
}

.pagination-item {
    padding: 0 0.2rem;
}
