@media (min-width: 30em) {
    .row {
        /* safari needs webkit prefixes :( */
        display: -webkit-flex;
        -webkit-flex-wrap: nowrap;
        display: flex;
        flex-wrap: nowrap;
    }
    .column {
        -webkit-flex-grow: 1;
        flex-grow: 1;
        -webkit-flex-basis: 0;
        flex-basis: 0;
    }
    .two.column {
        -webkit-flex-grow: 2;
        flex-grow: 2;
    }
    .column.center {
        text-align: center;
    }
    .column.right {
        text-align: right;
    }
}

header h1 {
    border: none;
    float: left;
}

header nav {
    padding-top: 2rem;
    float: right;
}

nav a {
    color: rgb(18, 113, 219);
}

nav .active {
    font-weight: bold;
}

.branch {
    margin: 1rem 0;
}

.pagination-control {
    margin: 3rem 0;
}

.pagination-control .disabled {
    opacity: 0.66;
    cursor: not-allowed;
}

.pagination-item {
    padding: 0 0.2rem;
}
