@media (min-width: 30em) {
    .row {
        /* safari needs webkit prefixes :( */
        display: -webkit-flex;
        -webkit-flex-wrap: nowrap;
        display: flex;
        flex-wrap: nowrap;
    }
    .column {
        -webkit-flex-grow: 1;
        flex-grow: 1;
        -webkit-flex-basis: 0;
        flex-basis: 0;
    }
    .two.column {
        -webkit-flex-grow: 2;
        flex-grow: 2;
    }
    .column.center {
        text-align: center;
    }
    .column.right {
        text-align: right;
    }
}

main {
    max-width: 100rem;
    margin-bottom: 10rem;
    overflow: hidden;
}

header h1 {
    border: none;
    float: left;
}

header nav {
    padding-top: 2rem;
    float: right;
}

nav a {
    color: rgb(18, 113, 219);
}

nav .active {
    font-weight: bold;
}

.branch-headings {
    margin-bottom: 1rem;
}

.branch .column, .branch-headings .column {
    padding: 1rem;
}

.branch .branch-status {
    padding: 1rem 0;
}

.branch.deprecated {
    opacity: 0.66;
}

.branch-status-in-progress {
    background: #bd2c00;
    color: white;
}

.branch-status-in-review {
    background: #c9510c;
    color: white;
}

.branch-status-ready-for-master {
    background: #6e5494;
    color: white;
}

.branch-status-merged-to-master {
    background: #4078c0;
    color: white;
}

.branch-status-deployed {
    background: #6cc644;
}

.pagination-control {
    margin: 3rem 0;
}

.pagination-control .disabled {
    opacity: 0.66;
    cursor: not-allowed;
}

.pagination-item {
    padding: 0 0.2rem;
}

label {
    display: block;
    margin: 1rem 0;
}

label span {
    margin-right: 1rem;
}

label input, label textarea {
    line-height: 1.2;
}

fieldset legend {
    border: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

fieldset label {
    display: inline;
    margin-right: 2rem;
}

fieldset label input {
    margin-right: 0.5rem;
}
